
#bottom-sheet {
  position: fixed;
  top: 40vh;
  left: 0;
  right: 0;
  padding: 1em;
  height: 100%;
  background-color: #bababa;
  border-radius: 2em;
  z-index: 100;
  transform: translateY(100%);
  transition: all 0.4s ease;

  &.show {
    transform: translateY(0);
  }
}

#bottom-sheet-backdrop {
  position: fixed;
  z-index: 99;
  inset: 0;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.4s ease;

  background: rgb(0 0 0 / 40%);

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

