
#container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

header {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;

  tr:first-child td {
    height: 2em;
  }

  td:first-child {
    width: 2em;
  }

  td {
    border: solid 1px black;
    padding: 0.3em;
    width: 6em;
    height: 6em;
    text-align: center;      /* 左右の中央揃え */
    vertical-align: middle;  /* 上下の中央揃え */

    &.marker { background-color: rgb(255 195 195); }
    &#target-marker { background-color: rgb(255 106 106);}
  }
}