
#container {
  display: flex;
  flex-direction: row;
  /* position: relative; */
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
}

#tasklist {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: stretch;

  > div {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 1em;

    width: 90vw;
    border: 1px solid skyblue;
    border-radius: 0.7em;
    padding: 0.5em;

    input[type=checkbox] {
      width: 2em;
      height: 2em;
    }
  }
}

#information {
  display: flex;
  position: fixed;
  top: 40vh;
  left: 0;
  right: 0;
  padding: 1em;
  height: 100%;
  background-color: #bababa;
  border-radius: 2em;
  flex-direction: column;
  z-index: 100;
  transform: translateY(100%);
  transition: all 0.4s ease;

  table {
    th {
      text-align: left;
      min-width: 5em;
    }
  }

  &.show {
    transform: translateY(0);
  }
}

#backdrop {
  position: fixed;
  z-index: 99;
  inset: 0;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.4s ease;

  background: rgb(0 0 0 / 40%);

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}
