
#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* position: relative; */
  width: 100%;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}

table#timetable {
  width: 99vw;
  height: 75vh;
  border-radius: 1em;

  thead tr th {
    height: 2em;
  }

  :is(th,td):first-child {
    width: 2em;
  }

  td {
    border: solid 1px black;
    border-radius: 1em;

    .courseName {
      font-size: 1.5em !important;
    }
  }

  td,th {
    width: 6em;
    height: calc(75vh / 6);
    text-align: center;      /* 左右の中央揃え */
    vertical-align: middle;  /* 上下の中央揃え */
    font-size: 0.5em;

    div {
      display: flex;
      flex-direction: column;
      /* height: 100%; */

      span:first-child {
        /* margin-bottom: 1em; */
      }
    }

    &.marker { background-color: rgb(255 195 195); }
    &#target-marker { background-color: rgb(255 106 106);}
  }

  th > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    span:nth-child(2) {
      font-size: 2em;
    }
  }
}

div#time-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  display: none;
  pointer-events: none;
  z-index: 10;

  span#time-label {
    position: absolute;
    left: 10px;
    top: -18px; /* 線の少し上に配置 */
    background-color: red;
    color: white;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 3px;
    font-weight: bold;
    white-space: nowrap;
  }
}

div#test1 {
  display: flex;
  flex-direction: row;

  div#timeDiv {
    display: 'inline-block';
    display: flex;
    width: 100%;
    height: 3em;
    border: 1px solid;
    padding: 1em;
    /* cursor: 'ns-resize'; */
    align-items: center;
  }
  div#dayDiv {
    display: 'inline-block';
    display: flex;
    width: 100%;
    height: 3em;
    border: 1px solid;
    padding: 1em;
    /* cursor: 'ns-resize'; */
    align-items: center;
  }
}

div#bottom-sheet > div {
  display: flex;
  flex-direction: column;
  /* animation: slideUp 0.8s ease forwards; */

  h1 {
    margin: 0.2em;
    display: flex;
    justify-content: center;
  }

  table {
    th {
      width: 5em;
    }
  }
}

#timetableSelector {
  display: flex;
  justify-content: space-between;
  width: 100%;

  input {
    display: none;
  }

  label {
    border-radius: 0.5em;
    font-size: 1.3em;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:has(:checked) {
      background-color: #5ad25a;
    }
  }
}